{% extends 'noveltorpedo/template.html' %}

{% block title %}login{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center">NovelTorpedo Login</h1>
        </div>
    </div>
    <div class="row">
        <div class="text-center col-xs-12 col-sm-8 col-sm-offset-2">
            <form method="POST">
                <input type="hidden" name="next" value="/" />
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-default">Login</button>
            </form>
            <a href="{% url 'noveltorpedo:password_reset' %}">Forgot your password?</a>
        </div>
    </div>
{% endblock %}
